<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://cesuan.ai101.top/Public/LtzmZiwei_ios.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://cesuan.ai101.top/Public/img/yuan_login1.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://cesuan.ai101.top/Public/img/yuan_login1.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>LtzmZiwei</string>
				<key>bundle-version</key>
				<string>2019.05.16.18</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>紫微斗数涵盖详细的八字命理知识，内容详尽，包含先天命盘，婚姻，事业，财富等12种人生方向的测算，自宋朝一直是宫廷御用占星术。本软件利用大数据和一万三千余规则开发，更加精准！</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
